$dark-default: #111827;
$dark-light: #1f2937;
$dark-active: #374151;

$white-default: #FAFAFA;

$grey-default: #D1D5DB;

$green-default: #15803D;
$green-light: #DCFCE7;

$red-default: #B91C1C;
$red-light: #FEE2E2;

$yellow-default: #C2410C;
$yellow-light: #FFEDD5;

$blue-default: #1D4ED8;
$blue-light: #DBEAFE;