$white-default: #FFFFFF;
$white-dark: #F4F4F4;

$black-default: #1A1A1A;

$grey-default: #D9D9D9;
$grey-dark: #7676766b;
$grey-green-default: #283F3B;

$green-default: #92B98D;
$green-dark: #4E8266;
$green-light: #E6F4EA;
$green-light-hover: #D0ECD9;
$green-light-active: #B4DFC4;