@mixin defaultHeading($weight: 400, $size: 20px) {
    font-size: $size;
    font-weight: $weight;
    line-height: normal;
}

@mixin heading($align: center, $weight: 500) {
    font-size: 48px;
    font-weight: $weight;
    text-align: $align;
    line-height: normal;
}

@mixin text() {
    font-size: 20px;
    font-weight: 300;
}