.form {
    max-width: 700px;
    
    &__fields {
        display: flex;
        justify-content: space-between;
        gap: 28px;
        margin-bottom: 40px;
    }

    &__block {
        width: 100%;
    }
}