@use '@/app/styles/variables' as *;
@use '@/app/styles/colors' as *;
@use '@/app/styles/typography' as *;

.button {
    background-color: $green-light;
    color: $black-default;
    @include defaultHeading;

    width: 100%;

    padding: 10px 12px;
    border: none;
    border-radius: $border-2;

    transition: $transition;

    &:hover {
        background-color: $green-light-hover;
    }

    &:active {
        background-color: $green-light-active;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $grey-dark;
    }
}