@use '@/app/styles/variables' as *;
@use '@/app/styles/colors' as *;

.button {
    background-color: $dark-default;
    color: $white-default;

    width: 100%;

    padding: 10px 12px;
    border: none;
    border-radius: $btn-border;

    transition: $transition;

    &:hover {
        background-color: $dark-light;
    }

    &:active {
        background-color: $dark-active;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #7676766b;
    }
}